<div class="columns">
  <div class="logo-column">
    <%= image_tag("LogoSplash.png", :alt => "Disco Melee Logo") %>
  </div>
  <div class="signup-column">
    <%= image_tag("WorldCloud.png", :alt => "Disco Melee Logo") %>
    <div class="signup-text">
        <div class="signup-label">
          SIGN UP
        </div>
        <div class="signup-blurb">
          For up to date news and EXLUSIVE BETA ACCESS sign up to our mailing list by clicking below.
        </div>
        <div>

        </div>
    </div>
  </div>
  <div class="info-column">
              <span id="next" class="right-arrow">
            <%=image_tag("RightArrow.png", :alt => "Right Arrow")%>
          </span>
          <span id="previous" class="left-arrow">
            <%=image_tag("LeftArrow.png", :alt => "Left Arrow")%>
          </span>
    <div id="carousel">
      <ul>
        <li class="scroll-box">
          <div class="scroll-box-heading">
            <div>DISCOVER</div>
            <div>CREATE</div>
            <div>STREAM</div>
          </div>
          <%= image_tag("FilmStrip.png", :alt => "Film Strip") %>
          <div class="scroll-box-blurb clear-both">
            Discover new content! New games! New Players! Create your own content and stream it all over the world to other like minded gamers!
          </div>
        </li>
        <li class="scroll-box">
          <div class="scroll-box-heading">
            <div>WATCH</div>
            <div>LEARN</div>
            <div>DOMINATE</div>
          </div>
          <%= image_tag("SharpSword.png", :alt => "Sword") %>
          <div class="scroll-box-blurb clear-both">
            Watch and learn from some of the top players in the world! Experience their play style! Gain the knowledge and skill that will allow you to dominate!
          </div>
        </li>
        <li class="scroll-box">
          <div class="scroll-box-heading">
            <div>CONNECT</div>
            <div>SHARE</div>
            <div>PERSONALIZE</div>
          </div>
          <%= image_tag("HighFive.png", :alt => "High Five") %>
          <div class="scroll-box-blurb clear-both">
             Connect with fellow gamers! Share your experiences and even gain some new ones! Personalize the way that you play games and get the latest news!
          </div>
        </li>
      </ul>
    </div>
   </div>
</div>
<div class="keyboard-win">
    <div class="keyboard-white">
        SIGN UP WITH YOUR EMAIL FOR YOUR CHANCE TO WIN THIS
    </div>
    <div class="keyboard-green">
        RAZER BLACKWIDOW TOURNAMENT EDITION!
    </div>
    <div class="keyboard-conditions">
        **Drawing will be held on April 30th 2013. Must be an inhabitant of Earth to be eligible**
    </div>
    <%= image_tag("keyboard.png", :alt => "Win This", :class => "keyboard") %>
</div>
<div class="signup-popout">
  <%= form_for :user , :url => users_path, class: "new_user", id:"new_user" do |f| %>
      <% flash.each do |key, value| %>
          <div class="alert success-text alert-<%= key %>"><%= value %></div>
      <% end %>
      <div class="signup-blub-email">
         Enter Your Email:
      </div>
      <%= f.text_field :email, class:"signup-box", placeholder:"o.0" %>
      <div class="signup-button-position">
      <%= f.submit "SIGN UP", class: "signup-button" %>
      </div>
  <% end %>
</div>
<div class="facebooktwitter float-right">
  <%= render 'layouts/socialmedia' %>
</div>
