@import "bootstrap";

/* universal */
html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background: url(image_path("discotile.png")) repeat #313131;
    color: white;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 980px;
}
.container{
  margin-top: 50px;
}

/*Resets*/
@mixin rounded-corners($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

.square {
  @include rounded-corners(0px);
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clear-both {
  clear: both;
}

.reset-margins {
  margin: 0;
}

.reset-padding {
  padding: 0;
}

.centre-element {
  margin: 0 auto;
}
/*typography*/

/* header */

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/*Splash page*/
 .columns{
     overflow: hidden;
     img{
         margin-left: 35px;
     }
 }

.logo-column,.signup-column,.info-column{
    float: left;
    width: 33%;
    padding-bottom: 32767px;
    margin-bottom: -32767px;
}

.logo-column, .signup-column{
    border-right: #5a7fb1 solid 2px;
}
.signup-text{
    background-color: #3B659C;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
}
.signup-label{
    font-size: 15.31pt;
    font-family: 'Jura';
    font-weight:600;
}
.signup-blurb{
    font-size: 9.18pt;
    font-family: 'Jura';
    font-weight: 300;
}
.info-column{
  position: relative;
}
.logo-column{
  img{
    margin-left: 8px
  }
}

/*Carousel CSS*/
#carousel{
  width: 304px;
  overflow:hidden;
  position: relative;
  margin-top: 32px;
  margin-left: 25px;
}
#carousel ul{
  position: relative;
  padding: 0;
  margin: 0;
}
#carousel li{
  width: 294px;
  height: 220px;
  float: left;
  list-style: none;
}
.scroll-box{
  background-color: #9d9d9d;
  padding: 10px;
}
.scroll-box-heading{
  float: left;
  div{
    padding-left: 10px;
    font-size: 15pt;
    font-family: 'Jura';
    font-weight:600;
    margin-bottom: 10px;
  }
}
.scroll-box-image{
  img{
    margin-left: 0px;
  }
}
.scroll-box-blurb{
  font-size: 12pt;
  font-family: 'Jura';
  font-weight:300;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.left-arrow{
  img{
    position: absolute;
    margin-left: 0px;
    top: 137px;
    left:30px;
    z-index: 100;
  }
}
.right-arrow{
  img{
    position: absolute;
    margin-left: 0px;
    top: 137px;
    right: 0px;
    z-index: 100;
  }
}
.keyboard-win{
  float:right;
  background-color:#1B1B1B;
  position: relative;
  width: 296px;
  padding-left: 10px;
  margin-bottom: 20px;
  margin-top: 25px;
}
.keyboard-white{
  font-size: 10pt;
  font-family: 'Jura';
  font-weight: 600;
  width: 136px;
}
.keyboard-green{
  font-size: 10pt;
  font-family: 'Jura';
  font-weight: 600;
  color: #16d486;
  width: 143px;
}
.keyboard-conditions{
  font-size: 7pt;
  font-family: 'Jura';
  font-weight: 600;
}
.keyboard{
  position: absolute;
  top: -20px;
  left: 150px;
}
.signup-popout{
  background-color: #9d9d9d;
  width: 273.5px;
  margin-left: 340px;
  margin-top: 25px;
  position: relative;
  padding: 10px;
  overflow: auto;
  margin-bottom: 150px;
}
.signup-button{
  background-color: #3B659C !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  border: 0;
  font-family: Jura;
  font-size: 10pt;
  font-weight: 600;
  color: #ffffff;
  float:right;
  padding-left: 20px;
  padding-right: 20px;
}
.signup-box{
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  width: 259px;
}
.signup-blub-email{
  font-family: Jura;
  font-size: 10pt;
  font-weight: 600;
  color: #ffffff;
}
.facebooktwitter{
  margin-top: -80px;
  margin-right: 46px;
  margin-bottom: 8px
}
.success-text{
  font-family: Jura;
  font-size: 10pt;
  font-weight: 600;
}