<div class="twitter">
    <a href="https://twitter.com/DiscoMelee" class="twitter-follow-button" data-show-count="false">Follow @DiscoMelee</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<div class="facebook">
  <div class="fb-like" data-href="http://facebook.com/DiscoMelee" data-send="false" data-width="250" data-show-faces="true" data-font="tahoma" data-colorscheme="dark"></div>
</div>
