<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= google_font_link_tag "Jura" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
<%= render 'layouts/facebookjavascript' %>
<div class="container">
  <%= yield %>
  <%= render 'layouts/footer' %>
</div>

</body>
</html>